<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/common.css">
    <link rel="stylesheet" href="/css/pagination.css">
    <script type="text/javascript" src="/js/jquery-1.11.1.min.js"></script>
    <script type="text/javascript" src="/js/jquery.pagination.js"></script>
    <script type="text/javascript" src="/js/laydate.js"></script>
    <title>管理员列表页面</title>
</head>
<body class="loginBody">
<div class="centerMax">
    <div class="rtbHeader clearfix">
        <img class="h_left logo" src="/images/logo.png" alt="">
    </div>
    <div class="rtbMain clearfix">
        <div class="m_left verticle-mode">
            管理员列表页面
        </div>
        <div class="operation">
            <button class="btn btn-primary admin_home"><a href="/admin/channelRegisteredController/list">返回主页</a></button>
            <button class="btn btn-primary admin_add"><a href="/admin/adminController/register">添加管理员</a></button>
        </div>
        <input id="allNumber" type="hidden" th:value="${pages?.TotalPages}">
        <form id="formData" accept-charset="utf-8" action="/admin/adminController/list" method="post">
            <div class="m_right">
                <input class="pageData" type="hidden" name="page" th:value="${currpage}">
                <table class="table table-bordered" id="listTable">
                    <thead>
                    <tr class="search">
                        <th colspan="5">
                            <label>时间选择：</label>
                            <input autocomplete="off" class="form-control p_input" name="startTime" placeholder="请选择开始日期" type="text"
                                   id="pickTime1" th:value="${startTime}">
                            -
                            <input autocomplete="off" class="form-control p_input" name="endTime" placeholder="请选择结束日期" type="text"
                                   id="pickTime2" th:value="${endTime}">
                            <label style="margin-left: 20px">管理员名称:</label>
                            <input autocomplete="off" class="form-control p_input" name="name" placeholder="请填写管理员名称" type="text"
                                   id="pickTime3" th:value="${name}">
                            <button type="button" id="sou" class="btn btn-primary btnsearch">搜索</button>
                        </th>
                    </tr>
                    <tr>
                        <th>管理员名称</th>
                        <th>管理员状态</th>
                        <th>创建时间</th>
                        <td>管理员渠道</td>
                        <th>操作</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="admin,adminStat:${pages?.content}">
                        <td th:text="${admin.username}"></td>
                        <td th:text="${admin.isEnabled}? 正常 : 停用"></td>
                        <td th:text="${#dates.format(admin.createDate, 'yyyy-MM-dd HH:mm:ss')}"></td>
                        <td>
                            <span th:each="source : ${admin.sourceList}" th:text="${'['+ source.name +']'}"></span>
                        </td>
                        <td>
                            <a th:href="@{'/admin/adminController/edit?adminId='+${admin.id}}">编辑</a>
                        </td>
                    </tr>
                    </tbody>
                    <tfoot>
                    </tfoot>
                </table>

                <div class="m-style">
                    <div class="M-box3"></div>
                </div>

            </div>
        </form>
    </div>
</div>
</body>
</html>
<script type="text/javascript">
    $(document).ready(function () {
        laydate.render({
            elem: '#pickTime1'
        });
        laydate.render({
            elem: '#pickTime2'
        });


        var pageTatal = Number($("#allNumber").val());
        $('.M-box3').pagination({
            pageCount: pageTatal,
            current: $(".pageData").val(),
            jump: true,
            coping: true,
            prevContent: '上页',
            nextContent: '下页',
            callback: function (api) {
                console.log(api.getCurrent())
                $(".pageData").val(api.getCurrent());
                $("#formData").submit();
            }
        });

        $(".btnsearch").click(function () {
            $("#formData").attr("action", "/admin/adminController/list")
            $("#formData").submit();
        })

    })
</script>