<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/common.css">
    <script type="text/javascript" src="/js/jquery-1.11.1.min.js"></script>
    <script type="text/javascript" src="/js/laydate.js"></script>
    <title>添加渠道</title>
</head>
<body class="loginBody">
<div class="loginMainInner">
    <h3 class="loginTitle">添加渠道</h3>
    <a style="position: absolute;top: 20px;left: 30px;color: #337ab7;text-decoration: none"
       href="javascript:history.go(-1)">返回上一页</a>
    <div class="loginMain">
        <div class="form-group">
            <label for="sourcename">渠道名称：</label>
            <input autocomplete="off" type="text" class="form-control col-md-6" id="sourcename" name="sourceName" placeholder="渠道名称">
        </div>
        <div class="form-group">
            <label>渠道用户：</label>
            <select class="form-control" id="adminId" name="adminId" placeholder="渠道用户" required>
                <option th:each="admin,adminStat : ${admins}" th:value="${admin.id}"
                        th:text="${admin.username}">
                </option>
            </select>
            <br> <br>
        </div>
        <button id="addbtn" type="button" class="btn btn-primary loginbtn">添加</button>
    </div>
</div>
</body>
</html>
<script>
    $(document).ready(function(){
        $("#addbtn").click(function(){
            var u_name = $("#sourcename").val();
            var u_id = $("#adminId").val();

            if(u_name == null || u_name  == ""){
                alert("渠道不能为空！");
                return false;
            }
            if(u_id == null || u_id  == ""){
                alert("渠道用户不能为空！");
                return false;
            }

            $.ajax({
                url:"/admin/adminController/addSource",
                type:"post",
                dataType:"json",
                data:{
                    sourceName: u_name,
                    adminId: u_id
                },
                success:function(data){

                    if(data.error.code == -1){
                        window.location.href = "login";
                        return false;
                    }

                    if(data.error.code == 0){
                        window.location.href = "/admin/sourceController/list";
                    }else{
                        alert(data.error.msg);
                    }
                },
                error:function(err){
                    alert("系统繁忙，请后再试！");
                }
            });
        });
    })
</script>