<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/common.css">
    <script type="text/javascript" src="/js/jquery-1.11.1.min.js"></script>
    <title>编辑渠道</title>
</head>
<body class="loginBody">
<div class="loginMainInner">
    <a style="position: absolute;top: 20px;left: 30px;color: #337ab7;text-decoration: none"
       href="javascript:history.go(-1)">返回上一页</a>
    <h3 class="loginTitle">编辑渠道</h3>
    <div class="loginMain">
        <form myattr="" action="/admin/sourceController/sourceUpdate" method="post">
            <div class="form-group">
                <input class="pageData" type="hidden" id="sourceId" name="sourceId" th:value="${source.id}">
                <label for="sourcename">渠道名称：</label>
                <input th:value="${source.name}" autocomplete="off" type="text" class="form-control col-md-6"
                       id="sourcename" name="sourcename" placeholder="渠道名称" required>
                <span class="attention"></span>
            </div>
            <div class="form-group mt50">
                <label for="adminId">渠道用户：</label>
                <select class="form-control" id="adminId" name="adminId" placeholder="渠道用户" required>
                    <option th:each="admin,adminStat : ${admins}"
                            th:selected="${admin.id eq source.admin.id}" th:value="${admin.id}"
                            th:text="${admin.username}">
                    </option>
                </select>
            </div>
            <div class="form-group isShow">
                <label>启用：</label>
                <input  style="width: 16px;height: 16px;" type="checkbox" id="isShow" name="isShow" value="true"
                       th:checked="${source.isShow eq true }"/>
            </div>
            <button id="loginbtn" type="submit" class="btn btn-primary loginbtn">修改</button>
        </form>
    </div>
</div>
</body>
</html>

<script type="text/javascript">
    $(document).ready(function () {

        $("#sourcename").blur(function () {
            var sourceId = $('#sourceId').val();
            var sourcename = $('#sourcename').val();
            $.ajax({
                url: "/admin/sourceController/existSource",
                type: "post",
                dataType: "json",
                data: {
                    sourceId: sourceId,
                    name: sourcename
                },
                success: function (data) {
                    $(".loginMain form").attr("myattr",data.error.code);
                    $('.attention').html(data.error.msg);
                },
                error: function (err) {
                    alert("系统繁忙，请后再试！");
                }
            });
        })

        $("#loginbtn").click(function () {
            var s = $(".loginMain form").attr("myattr");
            if(s != 0){
                return false;
            }else {
                $(".loginMain form").submit();
            }
        })
    });
</script>